<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://milson-mebel.ru">           
                      <picture>
  <source srcset="img/logos/milson.webp" type="image/webp">
            <img src="img/logos/milson.png" class="img-responsive img-centered" style="max-height: 60px;" alt="">
</picture> 
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://car-carepoint.com">
                      <picture>
  <source srcset="img/logos/carepoint.webp" type="image/webp">
            <img src="img/logos/carepoint.png" class="img-responsive img-centered" style="max-height: 60px;" alt="">
</picture>                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://тортоффский.рф">
                                              <picture>
  <source srcset="img/logos/tortoffskiy.webp" type="image/webp">
            <img src="img/logos/tortoffskiy.jpeg" class="img-responsive img-centered" style="max-height: 60px;" alt="">
</picture>
                    </a>
                </div>
              <div class="col-md-3 col-sm-6">
                    <a href="https://npaufa.ru/">
      <picture>
  <source srcset="/img/logos/npa.webp" type="image/webp">
            <img src="img/logos/npa.jpeg" class="img-responsive img-centered" style="max-height: 60px;" alt="">
</picture>                    </a>
                </div>
            </div>
        </div>
    </aside>
