<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://milson-mebel.ru">
                        <img src="img/logos/milson.png" class="img-responsive img-centered" style="max-height: 60px;" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://car-carepoint.com">
                        <img src="img/logos/carepoint.png" class="img-responsive img-centered" style="max-height: 60px;" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://тортоффский.рф">
                        <img src="img/logos/tortoffskiy.png" class="img-responsive img-centered" style="max-height: 60px;" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
