  <footer>
        <div class="container">
          <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/191/bryansk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Брянск</a><a href="https://yandex.ru/maps/191/bryansk/?ll=34.372694%2C53.238160&utm_medium=mapframe&utm_source=maps&z=10.45" style="color:#eee;font-size:12px;position:absolute;top:14px;">Брянск — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUuALdN9C" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
              
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
