<!-- About Section -->
    <section id="log">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Как мы работаем</h2>
                    <h3 class="section-subheading text-muted">Электрика - самая сложная инженерная система, к которой нужно подходить со всей ответственностью.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Проектирование</h4>
                                    <h4 class="subheading">Составление плана электрики</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-family: 'Montserrat'; font-weight: 400;" >Это самый ответственный этап подготовительных работ. На этом этапе происходит проектирование электрики для дальнейшего выполнения электромонтажа. Для составления плана заказчику необходимо определиться с расположением и количеством всех розеток, выключателей, освещения и оборудования в помещениях.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Составление сметы</h4>
                                    <h4 class="subheading">Закупка материала</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-family: 'Montserrat'; font-weight: 400;" >По готовому проекту рассчитывается количество необходимого материала и объем производимых работ, а так же их стоимость. На этом этапе закупается необходимые материалы для электромонтажа.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Электромонтаж</h4>
                                    <h4 class="subheading">Непосредственное выполнение работы</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-family: 'Montserrat'; font-weight: 400;" >Выполняются электромонтажные работы: прокладка кабельных трасс, установка подрозетников, распределительных коробок, сборка и установка щита, монтаж заземления, установка розеток, выключателей, освещения и оборудования.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Пуско-наладка</h4>
                                    <h4 class="subheading">Окончательная проверка и сдача объекта</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-family: 'Montserrat'; font-weight: 400;" >Происходит проверка всех электроточек: розеток, выключателей, освещения, распределительного электрощита. После успешной проверки заказчик принимает выполненные работы.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="font-size: 400%;">
                        <i class="fa fa-check"></i>
                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
