<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Услуги</h2>
                    <h3 class="section-subheading text-muted">Мы это умеем</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                        <img src="img/services/1.jpeg" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>Установка розеток и выключателей</h4>
                        <p class="text-muted">По госту и даже лучше</p>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>
